<div *ngIf="board.running && !board.paused">
    <div *ngFor="let box of fallingFigure?.listBoxes">
        <app-box [caja]="box"></app-box>
    </div>
    <div *ngFor="let box of figuresFixed">
        <app-box [caja]="box"></app-box>
    </div>
</div>
<div class="message" *ngIf="!board.running && !board.gameOver">
    <div class="hitEnterLabel">HIT ENTER</div>
</div>
<div class="message" *ngIf="board.running && board.paused">
    <div class="pausedLabel">PAUSED</div>
</div>
<div class="message" *ngIf="board.gameOver">
    <div class="gameOverLabel">GAME OVER</div>
</div>
