.panelLateral {
    position: relative;
    /*border: 1px solid white;*/
    width: 100px;
    height: 400px;
  }

  .score {
    position: relative;
    border: 1px solid white;
    width: 100px;
    height: 50px;
  }